@import '../../node_modules/katex/dist/katex.min.css';

img {
  margin: auto;
}

.dark .vp-doc img,
.dark .rudiment svg {
  filter: invert(1) hue-rotate(180deg);
}

.hl-red {
  color: var(--vp-c-red-2);
}

mjx-container {
  padding: 1px;
}

/* Applies to the whole block of display math */
mjx-container[jax='CHTML'][display='true'] {
  margin: 1.5em 0; /* vertical margin around block math */
}

/* Increase spacing between lines inside the rendered math */
mjx-container mjx-box {
  line-height: 1.8 !important;
}
