@import '../../node_modules/katex/dist/katex.min.css';

img {
  margin: auto;
}

.dark .vp-doc img,
.dark .rudiment svg {
  filter: invert(1) hue-rotate(180deg);
}

.hl-red {
  color: var(--vp-c-red-2);
}

mjx-container {
  padding: 3px;
}
